@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	dynamic homeNode = CurrentPage.AncestorOrSelf(1);
    dynamic settings = Umbraco.Content(1055);
	string ladImg = Umbraco.TypedMedia(settings.GetPropertyValue("leoADalyFooterLogo")).Url;
	string lanImg = Umbraco.TypedMedia(settings.GetPropertyValue("lanFooterLogo")).Url;
}
    <footer class="footer">
        <div class="container">

            <div class="col-xs-12 col-sm-12 col-md-4">
                <h5 class="lan-footer-logo" ><a href="/" target="_blank"><img src="/images/logos/LAN-logo-white2x.png" alt="Lockwood, Andrews &amp; Newman, Inc." /></a></h5>
                <p>@Html.Raw(settings.GetPropertyValue("lanFooterText"))</p>
            </div>

             <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 footer__links">
                <ul>
                    <li><a target="_blank" href="https://connect.lan-inc.com/dana-na/auth/url_default/welcome.cgi">LAN Connect</a></li>
                    <li><a target="_blank" href="https://extranet.lan-inc.com/dana-na/auth/url_1/welcome.cgi">LAN Extranet</a></li>
                    <li><a target="_blank" href="http://pw.lan-inc.com/">LAN ProjectWise</a></li>
                    <li><a target="_blank" href="https://mail.leoadaly.com/">LAN Webmail</a></li>
                </ul>
            </div>
				
				
            <div class="col-xs-12 col-sm-12 col-md-2 footer__links">
                <ul>
                    <li><a href="/contact-us/">Contact Us</a></li>
                    <li><a href="/credits/">Credits</a></li>
                    <li><a href="/Sitemap/">Sitemap</a></li>
                    <li><a href="/terms-and-conditions/">Terms/Privacy</a></li>
                </ul>
            </div>
				
            <div id="social-icons__container" class="col-xs-12 col-sm-12 col-md-3 pull-right">
                <ul class="list-inline social-icons">
                    <li class="linkedin"><a href='@settings.GetPropertyValue("linkedInUrl")' target="_blank"><span class="sr-only">LinkedIn</a></span></li>
                    <li class="twitter"><a href='@settings.GetPropertyValue("twitterUrl")' target="_blank"><span class="sr-only">Twitter</a></span></li>
                    <li class="facebook"><a href='@settings.GetPropertyValue("facebookUrl")' target="_blank"><span class="sr-only">Facebook</a></span></li>
                </ul>
            </div>

        </div>
		
		<!-- Back To Top Button -->
		<div class="back-to-top__container">
			<a href="#top">Back to Top</a>
		</div>
			
    </footer>
