@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var market = new Market(Model.Content);
    if (!market.FeaturedProjects.Any())
    {
        return;
    }
}
<div class="main container-fluid" style="background: #ffffff;">
    <div class="container" style="background: #ffffff;">
        <div class="row">
            <div class="project__related row no-gutters">
                <h2 class="section__title text-center">Featured Projects</h2>

                @for (var projectCounter = 0; market.FeaturedProjects.Count() > projectCounter; projectCounter += 3)
                {
                    foreach (var project in market.FeaturedProjects.Skip(projectCounter).Take(3))
                    {
                        var img = project.SliderImages.First();
                        <div class="project__related--item col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <a href="@project.Url" class="col-responsive">
                                <img src="@img.Url" alt='@project.Title' class="img-responsive" style="bottom:auto;" />
                                <div class="project__related--description img-caption caption">
                                    <h4 class="project__related--title">@project.Title</h4>
                                </div>
                            </a>
                        </div>
                    }
                    <div class="clearfix hidden-xs-block visible-sm-block visible-md-block visible-lg-block">
                        <br />
                        <br />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
