@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<ul class="nav navbar-nav article__subnav">
    <li>
        <a class="aside__nav_title">
            <h3>Press</h3>
        </a>
    </li>
    <li class="@Website.ActiveIfPage(3514)"><a href="@Umbraco.Url(3514)">Press Releases</a></li>
    <li class="@Website.ActiveIfPage(3695)"><a href="@Umbraco.Url(3695)">Media Kit</a></li>
</ul>
