@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@section headerScripts{

}
@section mainContent{
    <div class="has_overlay">
        <div id="masthead" class="masthead">

            <div style="background-image: url(/dev/images/perspectives/perspectives-masthead.jpg);background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;width:100%;height:100%;"></div>

        </div><!-- //.masthead -->


        <div class="vertical-center page__header text-center">
            <div class="">
                <h1 class="page__header__title">Perspectives</h1>
                <div class="masthead__tagline hidden-xs hidden-sm">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid">

        <div class="section row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2 class="text-uppercase" style="margin:0;line-height:1.5;padding:0 15px;">Design</h2>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p class="text-right text-uppercase" style="margin:0;line-height:2.66;padding:0 15px;"><a href="articles-index.html">See All Design Stories <span class="caret caret-next text-right"></span></a></p>
            </div>
        </div>

        <div class="row grid-row" style="position:relative;">
            <ul class="grid">
                <li style="background:url(images/perspectives/images/persepectives-index_03.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-left grid-caption">
                        <h3>Long headline featured story for Design 2nd line of full title</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
                <li style="background:url(images/perspectives/images/persepectives-index_04.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-center text-small grid-caption">
                        <h3>Short title description</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
                <li style="background:url(images/perspectives/images/persepectives-index_05.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-center text-small grid-caption">
                        <h3>Long headline featured story for Design 2nd line of full title</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
                <li style="background:url(images/perspectives/images/persepectives-index_06.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-center text-small grid-caption">
                        <h3>Short title description</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
                <li style="background:url(images/perspectives/images/persepectives-index_07.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-center text-small grid-caption">
                        <h3>Long headline featured story for Design 2nd line of full title</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
            </ul>
        </div>

        <div class="section row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2 class="text-uppercase" style="margin:0;line-height:1.5;padding:0 15px;">Articles</h2>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p class="text-right text-uppercase" style="margin:0;line-height:2.66;padding:0 15px;"><a href="articles-index.html">See All Articles <span class="caret caret-next text-right"></span></a></p>
            </div>
        </div>

        <div class="row grid-row" style="position:relative;">
            <ul class="grid">
                <li style="background:url(images/perspectives/images/persepectives-index_03.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-left grid-caption">
                        <h3>Long headline featured story for Design 2nd line of full title</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
                <li style="background:url(images/perspectives/images/persepectives-index_04.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-center text-small grid-caption">
                        <h3>Short title description</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
                <li style="background:url(images/perspectives/images/persepectives-index_05.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-center text-small grid-caption">
                        <h3>Long headline featured story for Design 2nd line of full title</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
                <li style="background:url(images/perspectives/images/persepectives-index_06.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-center text-small grid-caption">
                        <h3>Short title description</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
                <li style="background:url(images/perspectives/images/persepectives-index_07.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-center text-small grid-caption">
                        <h3>Long headline featured story for Design 2nd line of full title</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
            </ul>
        </div>

        <div class="section row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2 class="text-uppercase" style="margin:0;line-height:1.5;padding:0 15px;">Thoughts</h2>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p class="text-right text-uppercase" style="margin:0;line-height:2.66;padding:0 15px;"><a href="articles-index.html">See All Thoughts <span class="caret caret-next text-right"></span></a></p>
            </div>
        </div>

        <div class="row grid-row" style="position:relative;">
            <ul class="grid">
                <li style="background:url(images/perspectives/images/persepectives-index_03.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-left grid-caption">
                        <h3>Long headline featured story for Design 2nd line of full title</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
                <li style="background:url(images/perspectives/images/persepectives-index_04.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-center text-small grid-caption">
                        <h3>Short title description</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
                <li style="background:url(images/perspectives/images/persepectives-index_05.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-center text-small grid-caption">
                        <h3>Long headline featured story for Design 2nd line of full title</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
                <li style="background:url(images/perspectives/images/persepectives-index_06.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-center text-small grid-caption">
                        <h3>Short title description</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
                <li style="background:url(images/perspectives/images/persepectives-index_07.jpg) no-repeat 50% 50%;background-size:cover;">
                    <a href="articles-details.html" class="text__overlay text-center text-small grid-caption">
                        <h3>Long headline featured story for Design 2nd line of full title</h3>
                        <p><small>Ignacio Reyes</small></p>
                    </a>
                </li>
            </ul>
        </div>



    </div>

    <div class="has_overlay">
        <img src="/dev/images/perspectives/persepectives-social.jpg" alt="" style="" />
        <div class="">
            <div class="vertical-center page__header text-center">
                <div class="">
                    <h1 class="page__header__title">Follow us to stay engaged.</h1>
                    <div class="masthead__tagline hidden-xs hidden-sm">
                        <p>Perspectives is a space to learn, imagine and explore. Check back often for new content, and connect with us on social media to get the latest—from <br />Leo A Daly news and updates to innovative views on design.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="main container-fluid bg-image">

    </div>


}
@section footerScripts{

}